.main {
    font-family: Calibri, serif;
}

.chat {
    width: 300px;
    height: 300px;
    overflow-y: scroll;
}

#hop-list li{
    cursor: pointer;
}

#hop-list li:hover {
    color: #B33;
    cursor: pointer;
}